<div class="ui tiny modal" id="generalModal" >
  <div class="ui icon header">
    <i class="envelope icon"></i>
    <p id="header"></p>
  </div>
  <div class="content">
    <p id="msg" style="color: red;size: auto;text-align: center"></p>
  </div>
  <div class="actions">
    <div class="ui green ok inverted button" id="okButton">
      <i class="checkmark icon"></i>
      OK
    </div>
  </div>
</div>

<script>
    function generalModalFunction(header, message) {
        $('p#msg').html(message);
        $('p#header').html(header);
        $('#generalModal').modal('setting', 'closable', false).modal('show');
    }
</script>