{% extends 'base.html' %}
{% load static %}
{% block script %}
    <script src="{% static 'home/js/pubnub.js' %}"></script>
    <script src="{% static 'home/js/webrtc.js' %}"></script>
    <script src="{% static 'home/js/rtc-controller.js' %}"></script>
    <script type="text/javascript">
        var video_out = document.getElementById('vid-box');
        var streamName = '{{ request.user.username }}';
        var phone = window.phone = PHONE({
            number: streamName,
            publish_key: 'pub-c-84d6b42f-9d4d-48c1-b5a7-c313289e1792',
            subscribe_key: 'sub-c-2ebd9ad8-6cdb-11e8-902b-b2b3cb3accda',
            oneway: true,
            broadcast: true
        });
        var ctrl = window.ctrl = CONTROLLER(phone, get_xirsys_servers);
        ctrl.ready(() => {
            $('#loading').remove();    
            ctrl.addLocalStream(video_out);           
            ctrl.stream();
        });
        var ht= 0.5 * screen.height;
        var wd = 0.6 * window.width;
        $('#vid-box').css({'width': wd,'height':ht})

        $('#streamEndButton').click(() => {
            var leaveAns = confirm("Are you sure you want to leave stream?");
            if (leaveAns) {
                if (window.phone) {
                    ctrl.hangup();
                    ctrl.leaveStream(streamName);
                    ctrl.unsubscribe();
                    phone.unsubscribe();
                }
                window.location.replace(window.location.protocol + '//' + window.location.host + '{% url "home:home" %}');
            }
        });
        $(window).bind('beforeunload', () => {
            if (window.phone) {
                ctrl.hangup();
                ctrl.leaveStream(streamName);
                ctrl.unsubscribe();
                phone.unsubscribe();
            }
        }); 
        $('#enterEvent').keypress(function(e) {
            if(e.which == 13) {
                var chatText = document.getElementById('texts').value;   
                if(chatText != null){
                message = {text: chatText, type: 'streamMessage', sender: '{{ request.user.username }}',image:'{{request.user.profile.get_avatar}} '};
                ctrl.send(message);
                $('#texts').val(' ');   
            }                         
            }
        });        
        ctrl.streamReceive(message => {
            if(message.text != null){
            document.getElementById('cmnt').innerHTML +=  '<a class="ui image avatar"><img src="'+ message.image + '" ></a>'+
            '<div class="content"><a class="' + 'author">' + message.sender+ '</a><div id=' + '"text_content" class="text"><p class=" ui label">' + message.text + '</p></div></div>'; 
        }
        });
        window.setInterval(function() {
            var elem = document.getElementById('chat-box');
            elem.scrollTop = elem.scrollHeight;
          }, 5000);
    </script>
    <style>
        #chat-box{
            overflow-x: auto;
            overflow-y: auto; 
            position:   relative;
            height:     70%;
            width:   70%;
            bottom: 0;   
        }

        #chat-content{
            position: absolute;
        }

        #enterEvent{
            width:   70%;
        }    
    </style>
   
{% endblock %}
{% block content %}
    <div class="ui stackable two column grid container">
            <div class="column">
                <div class="ui inverted segment" id="vid-box">
                    <div id="loading" class="ui active inverted loader"></div>                   
                       
                </div>  
                <button class="ui inverted red button" id="streamEndButton">End</button>
            </div>
            <div class="column"> 
                    <div class="ui header">Live Chat</div> 

                    <div class="ui top attached scrolling segment" id="chat-box">
                        <div id="chat-content">
                            <div class="ui comments">
                                <div class="comment" id ="cmnt" >
                                <!--all the chat information -->
                                </div>
                            </div>                               
                        </div>
                    </div>

                    <div class="ui attached segment" id="enterEvent">
                        <div class="ui small fluid search input">
                            <input id="texts" placeholder="CHAT..." type="text">
                        </div>                           
                    </div>
            </div>       
    </div>
{% endblock %}

  
