{% extends 'base.html' %}
{% load static %}
{% block script %}
    <script src="{% static 'home/js/pubnub.js' %}"></script>
    <script src="{% static 'home/js/webrtc.js' %}"></script>
    <script src="{% static 'home/js/rtc-controller.js' %}"></script>
    <script type="text/javascript">
        var video_out = document.getElementById('vid-box');
        var streamName = '{{ request.user.username }}';
        var phone = window.phone = PHONE({
            number: streamName,
            publish_key: 'pub-c-84d6b42f-9d4d-48c1-b5a7-c313289e1792',
            subscribe_key: 'sub-c-2ebd9ad8-6cdb-11e8-902b-b2b3cb3accda',
            oneway: true,
            broadcast: true
        });
        var ctrl = window.ctrl = CONTROLLER(phone, get_xirsys_servers);
        ctrl.ready(() => {
            ctrl.addLocalStream(video_out);
            ctrl.stream();
        })
    </script>
{% endblock %}
{% block content %}
    <div id="vid-box"></div>
    <button class="ui inverted red button" id="streamEndButton">End</button>
{% endblock %}