<div class="ui basic modal" id="videoCallModal">
    <div class="ui icon header">
        <i class="video icon"></i>
        VidLiv Call
    </div>
    <div class="content">
        <div class="ui two column grid">
            <div class="row">
                <div class="column"><div id="vid-box"></div></div>
                <div class="column"><div id="vid-thumb"></div></div>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui inverted red button" id="endCallButton">
            <i class="phone icon"></i>
            End
        </div>
        <button class="ui inverted teal button" id="muteCall">
            <i class="mute icon"></i>
            Mute
        </button>
        <button class="ui inverted teal button" id="pauseCall">
            <i class="pause icon"></i>
            Pause
        </button>
    </div>
</div>
<div class="ui mini modal" id="acceptCallModal">
    <div class="ui icon header">
        <i class="video icon"></i>
        VidLiv Call Requested
    </div>
    <div class="content">
        <p>Do you want to accept the call?</p>
    </div>
    <div class="actions">
        <div class="ui approve teal button" id="acceptCallButton">
            <i class="phone icon"></i>
            Accept
        </div>
        <div class="ui cancel red button" id="denyCallButton">
            <i class="phone square icon"></i>
            Deny
        </div>
    </div>
</div>
<div class="ui mini modal" id="requestCallModal">
    <div class="ui icon header">
        <i class="video icon"></i>
        VidLiv Call Requesting
    </div>
    <div class="content">
        <p>VidLiv is requesting call for you to...</p>
    </div>
    <div class="actions">
        <div class="ui cancel red button" id="requestCallCancelButton">
            <i class="phone square icon"></i>
            Cancel
        </div>
    </div>
</div>
<div class="ui mini modal" id="userNotAvailModal">
    <div class="ui icon header">
        <i class="video icon"></i>
        VidLiv user not available
    </div>
    <div class="content">
        <p>Sorry the user is not currently available.</p>
    </div>
    <div class="ui cancel teal button" id="userNotAvailOkButton">
        <i class="unlink icon"></i>
        Ok
    </div>
</div>