<div class="ui basic modal" id="videoCallModal">
    <div class="ui icon header">
        <i class="video icon"></i>
    </div>
    <div class="content">
        <div class="ui two column grid">
            <div class="row">
                <div class="column"><div id="vid-box"></div></div>
                <div class="column"><div id="vid-thumb"></div></div>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui inverted red button" id="endCall">
            <i class="phone icon"></i>
            End
        </div>
        <button class="ui inverted teal button" id="muteCall">
            <i class="mute icon"></i>
            Mute
        </button>
        <button class="ui inverted teal button" id="pauseCall">
            <i class="pause icon"></i>
            Pause
        </button>
    </div>
</div>