{% extends 'base.html' %}
{% load static %}


{% block script %}
    <script src="{% static 'home/js/RTCMultiConnection.js' %}"></script>
    <script src="{% static 'home/js/adapter.js' %}"></script>
    <script src="{% static 'home/js/socket.io.js' %}"></script>
    <script src="{% static 'home/js/pubnub.js' %}"></script>
    <script type="text/javascript">
        var connection = new RTCMultiConnection();

        connection.socketURL = 'https://rtcmulticonnection.herokuapp.com:443/';

        connection.socketMessageEvent = 'VidLIVE-RTCMulticonnection';

        connection.session = {
            audio: true,
            video: true,
            broadcast: true,
            data: true
        };

        connection.extra = {
            username: '{{ request.user.username }}',
            fullname: '{{ request.user.get_full_name }}',
            roomInitiator:{% if roomInitiator %} true {% else %} false {% endif %}
        };

        connection.sdpConstraints.mandatory = {
            OfferToReceiveAudio: true,
            OfferToReceiveVideo: true,
        };

        connection.videosContainer = document.getElementById('videos-container');

        connection.onstream = function(event) {
            connection.videosContainer.appendChild(event.mediaElement);

            if (event.type === 'remote' && connection.isInitiator) {
                var participants = [];
                connection.getAllParticipants().forEach(function(pid) {
                    participants.push({
                        pid: pid,
                        broadcaster: connection.peers[pid].extra.broadcaster === true
                    });
                });
                connection.socket.emit(connection.socketCustomEvent, {
                    participants: participants
                });
            } else if (event.type === 'remote' && broadcaster === false) {
                connection.socket.emit(connection.socketCustomEvent, {
                    giveAllParticipants: true
                });
            }
        };

        connection.onstreamended = function(event) {
            if (event.extra.roomInitiator) {
                generalModalFunction('Room events', 'Room initiator ' + event.extra.fullname + ' closed the room');
                $('#generalModal #okButton').click(() => {
                    window.location.replace(window.location.protocol + '//' + window.location.host + "{% url 'home:home' %}");
                });
            }
            if (event.extra.broadcaster) generalModalFunction('Room Events', event.extra.fullname + ' left the room.');
            var mediaElement = document.getElementById(event.streamid);
            if (mediaElement) {
                mediaElement.parentNode.removeChild(mediaElement);
            }
        };

        function beforeJoiningARoom(callback) {
            if (broadcaster) {
                connection.extra.broadcaster = true;
            } else {
                connection.extra.broadcaster = false;
                connection.dontCaptureUserMedia = true;
                connection.session.oneway = true;
            }
            callback();
        }

        function afterConnectingSocket() {
            connection.socket.on(connection.socketCustomEvent, function(message) {
                console.error('custom message', message);

                if (message.participants && !connection.isInitiator) {
                    message.participants.forEach(function(participant) {
                        if (participant.pid === connection.userid) return;
                        if (connection.getAllParticipants().indexOf(participant.pid) !== -1) return;
                        if (broadcaster === true && participant.broadcaster === false) return;

                        console.error('I am joining:', participant.pid);
                        connection.join(participant.pid);
                    });
                }

                if (message.giveAllParticipants && connection.isInitiator) {
                    var participants = [];
                    connection.getAllParticipants().forEach(function(pid) {
                        participants.push({
                            pid: pid,
                            broadcaster: connection.peers[pid].extra.broadcaster === true
                        });
                    });
                    connection.socket.emit(connection.socketCustomEvent, {
                        participants: participants
                    });
                }
            });
        }

        var config = {
            number: '{{ request.user.username }}' + '-room',
            publish_key: 'pub-c-84d6b42f-9d4d-48c1-b5a7-c313289e1792',
            subscribe_key: 'sub-c-2ebd9ad8-6cdb-11e8-902b-b2b3cb3accda',
            ssl: true,
            uuid: '{{ request.user.username }}' + '-device'
        };
        var pubnub = PUBNUB(config);

        {% if broadcaster and roomInitiator%}
            var broadcaster = true;

            beforeJoiningARoom(() => {
                connection.open('{{ roomid }}', (isRoomExist, roomid) => {
                   afterConnectingSocket();
                   pubnub.subscribe({
                       channel: '{{ request.user.username }}' + '-inroom',
                       message: () => {},
                       connect: () => {
                           console.log('Subscribed to pubnub-room');
                       }
                   });
                });
            });
        {% elif broadcaster and not roomInitiator %}
            var broadcaster = true;

            beforeJoiningARoom(() => {
                connection.join('{{ roomid }}', (isRoomExist, roomid) => {
                   afterConnectingSocket();
                });
            });
        {% else %}
            var broadcaster = false;

            function joinBroadcastLooper(roomid) {
                (function reCheckRoomPresence() {
                    connection.checkPresence(roomid, isRoomExist => {
                        if (isRoomExist) {
                            beforeJoiningARoom(() => {
                                connection.join(roomid, () => {
                                    afterConnectingSocket();
                                });
                            });
                            return;
                        }
                        setTimeout(reCheckRoomPresence, 5000);
                    });
                })();
            }

            joinBroadcastLooper('{{ roomid }}');
        {% endif %}
        $('#multiBroadcastEndButton').click(() => {
            if (connection.isInitiator) {
                var leave = confirm('You are the initiator of room. Do you want to close room?');
            }
            else
                var leave = confirm('Are you sure to leave room?');
            if (leave) {
                connection.leave();
                pubnub.unsubscribe({
                    channel: '{{ request.user.username }}' + '-inroom',
                    callback: () => {console.log('Unsubscribed from room.')}
                });
                window.location.replace(window.location.protocol + '//' + window.location.host + '{% url 'home:home' %}');
            }
        });
        function inviteToRoom(username) {
            pubnub.publish({
                channel: username + '-room',
                message: {
                    sender: config.number,
                    fullname: '{{ request.user.get_full_name }}',
                    roomUrl: '{% url "home:multistreamaction" action="join" username=request.user.username %}'
                },
                callback: () => {
                    //Add onRequestCompleteEvent
                }
            })

        }
        $('#enterEvent').keypress(function(e) {
            if(e.which == 13) {
                var chatText = document.getElementById('texts').value;   
                if(chatText != null){
                message = {text: chatText, type: 'streamMessage', sender: '{{ request.user.username }}',image:'{{request.user.profile.get_avatar}} '};
                connection.send(message);
                if(message.text != null){
                    document.getElementById('cmnt').innerHTML +=  '<a class="ui image avatar"><img src="'+ message.image + '" ></a>'+
                    '<div class="content"><a class="' + 'author">' + message.sender+ '</a><div id=' + '"text_content" class="text"><p class=" ui label">' + message.text + '</p></div></div>'; 
                } 
                $('#texts').val(' ');
                 
            }                         
            }
        });
        connection.enableLogs = false;
        connection.onmessage = function(message){
            if(message.data.text != null){
                document.getElementById('cmnt').innerHTML +=  '<a class="ui image avatar"><img src="'+ message.data.image + '" ></a>'+
                '<div class="content"><a class="' + 'author">' + message.data.sender+ '</a><div id=' + '"text_content" class="text"><p class=" ui label">' + message.data.text + '</p></div></div>'; 
            }
        } 
        window.setInterval(function() {
            var elem = document.getElementById('chat-box');
            elem.scrollTop = elem.scrollHeight;
          }, 1000);
         $('.ui.toggle.button').click(function(){
            $('.ui.sidebar').sidebar('toggle');
         });
;
    </script>

{% endblock %}
{%block stylesheet%}
<style>
    video{
        height: 50%;
        width: 50%;
        object-fit: contain;
    }
    #chat-box{
        overflow-x: auto;
        overflow-y: auto; 
        position:   relative;
        height:     80%;
        width:   100%;
        bottom: 0;   
    }

    #chat-content{
        position: absolute;
    }

    #enterEvent{
        width:   100%;
    }

</style>
{% endblock %}

{% block content %}
    <div style="height: auto"class="ui centered alignment segment stackable grid container">
        <div id="videos-container" class="ui twelve wide column">
        </div>
        <div class="ui four wide column">
                <div class="ui header">Live Chat</div> 
                <div class="ui top attached segment" id="chat-box">
                    <div id="chat-content">
                        <div class="ui comments">
                            <div class="comment" id ="cmnt" >
                            <!--all the chat information -->
                            </div>
                        </div>                               
                    </div>
                </div>
        <div class="ui bottom attached segment" id="enterEvent">
            <div class="ui small fluid search input">
                <input id="texts" placeholder="CHAT..." type="text">
            </div>                           
        </div>
        <button class="ui inverted red button" id="multiBroadcastEndButton">End</button>       
        <button class="ui teal toggle button">Invite Friends</button>
        </div>
    </div>
        <div class="ui sidebar vertical menu">
            
            
            {% if broadcaster %}
            <ul><h class="ui header">Friends list</h>
                {% for user in users_list %}
                    <p><button class="ui teal vertical button" id="inviteToRoom" onclick="return inviteToRoom('{{ user.username }}')">{{ user.username }}</button></p>
                {% endfor %}
            </ul>
            {% endif %}  
         </div> 

    
    {% include 'home/base.html' %}
{% endblock %}