{% extends 'base.html' %}
{% load static %}
{% block script %}
    <script src="{% static 'home/js/pubnub.js' %}"></script>
    <script src="{% static 'home/js/webrtc.js' %}"></script>
    <script src="{% static 'home/js/rtc-controller.js' %}"></script>
    <script type="text/javascript">
        var video_out = document.getElementById('vid-box');
        var viewer = '{{ request.user.username }}';
        var streamName = '{{ streamName }}';
        var phone = window.phone = PHONE({
            number: viewer,
            publish_key: 'pub-c-84d6b42f-9d4d-48c1-b5a7-c313289e1792',
            subscribe_key: 'sub-c-2ebd9ad8-6cdb-11e8-902b-b2b3cb3accda',
            oneway: true
        });
        var ctrl = window.ctrl = CONTROLLER(phone, get_xirsys_servers);
        ctrl.ready(() => {
            
            ctrl.isStreaming(streamName, isOn => {
                if (isOn) ctrl.joinStream(streamName);
                else alert(streamName + ' is not streaming!');
            });
        });
        ctrl.receive(session => {
            session.connected(session => {
                $('#loading').remove();
                video_out.appendChild(session.video);
            });
            session.ended(session => {
                if (session.number === streamName) {
                    // TODO add message 'streaming ended'
                    window.location.replace(window.location.protocol + '//' + window.location.host + '{% url "home:home" %}');
                }
            });
        });
        $('#leaveStreamButton').click(() => {
            var leaveAns = confirm("Are you sure you want to leave stream?");
            if (leaveAns) {
                if (window.phone) {
                    ctrl.hangup();
                    ctrl.leaveStream(streamName);
                    ctrl.unsubscribe();
                    phone.unsubscribe();
                }
                window.location.replace(window.location.protocol + '//' + window.location.host + '{% url "home:home" %}');
            }
        });
        $(window).bind('beforeunload', () => {
            var leaveAns = confirm("Are you sure you want to leave stream?");
            if (leaveAns) {
                if (window.phone) {
                    ctrl.hangup();
                    ctrl.leaveStream(streamName);
                    ctrl.unsubscribe();
                    phone.unsubscribe();
                }
            }
        });
        var ht= 0.5 * screen.height;
        var wd = 0.6 * window.width;
        $('#vid-box').css({'width': wd,'height':ht})

    </script>
{% endblock %}
{% block content %}
<div class="ui stackable two column grid container">
        <div class="column">
            <div class="ui inverted segment" id="vid-box">
                <div id="loading" class="ui active inverted loader"></div>                   
                   
            </div>  
            <button class="ui inverted red button" id="leaveStreamButton">Leave</button>
        </div>
    
        <div class="column">  
            <h5 class="ui header">Live Chat</h5>  
            <div class="ui chatroom" id="chatbox">
                <div class="ui fluid action input">
                    <input placeholder="Chat..." type="text">
                </div>
            </div>
        </div>     
</div>
{% endblock %}