{% extends 'base.html' %}
{% load static%}
{% block title_name %}VidLIV: Home{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/test_stylesheet.css' %}"/>
{% endblock %}

{% block content %}
<div class="ui container">
<p><h1>Welcome to VidLIV</h1></p>
<p>Coming soon</p>
<p>You're {{ request.user.username }}</p>
<!-- <a href="{% url 'auth_logout' %}">Logout</a><br>
<a href="{% url 'auth_password_change' %}">Change password</a> -->
</div>
{% endblock %}
