/* this is sample home page css 
Write your own css here */
body{
    background:gainsboro;   
}
.invalid-feedback{
    color: red;
}
.prof label{
    color: teal;
}
.ui.menu.main .header.item{
  font-size: 25px;
  font-family: 'Oleo Script Swash Caps', cursive;
  padding: 0 auto !important;
  /* color: rgb(89, 25, 128) ; */
}

.navitem{
  font-size:15px;
  padding: 0 !important;
}
.ui.menu.main .search.item {
  flex-grow: 1;
}
.ui.search.input > input{
  border-radius: 2rem !important;
  color:black;

}
#particles {
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: -2;
}
/* oleo-script-swash-caps-regular - latin */
@font-face {
  font-family: 'Oleo Script Swash Caps';
  font-style: normal;
  font-weight: 400;
  src: local('Oleo Script Swash Caps'), local('OleoScriptSwashCaps-Regular'),
       url('../fonts/oleo-script-swash-caps-v5-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/oleo-script-swash-caps-v5-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

