{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}vidliv{% endblock %}</title>
    {# stylesheet for respective pages goes here #}
    {% comment %} <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> {% endcomment %}
    {% comment %} <link rel="stylesheet" href="{% static 'css/semantic.min.css' %}"/> {% endcomment %}
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    {% comment %} <script src="{% static 'js/semantic.min.js'%}"></script> {% endcomment %}
    {% comment %} <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> {% endcomment %}
    {% block stylesheet %}{% endblock %}
</head>
<body>
{# this block name must not be changed #}
{% block content %}{% endblock %}
{# javascript goes herer #}
{% block script %}{% endblock %}
</body>
</html>