{%load static %}  
  <div class="ui secondary inverted teal stackable menu main">
    <div class="ui container">
        <a href="{%url 'landing_page'%}" class="header item">
          <!-- <img class="logo" src="{% static 'img/logo.png'%}"> -->
          Vidliv&nbsp;
          <i class="video icon"></i>
        </a>

        <a href="{%url 'landing_page'%}" class="item"><i class="home link icon"></i>Home</a>
        <div class="ui fluid search right item" id="searchBar">
          <div class="ui left icon input">
              <input class="prompt" placeholder="Search VidLIVs......" type="text">
              <i class="search link icon"></i>
            </div>
            <div class="ui results fluid"></div>
        </div>
        
        {% if not user.is_authenticated %}
        <div class="ui right inverted teal menu">   
          <a href="{%url 'registration_register'%}" class="item"><i class="users link icon"></i>Signup</a>
          <a href="{% url 'auth_login' %}" class="item"><i class="user circle link icon"></i>Login</a>
        </div>
        {% endif %}

        {% if user.is_authenticated %}
        <div class="ui right inverted teal menu">
          
          <a href="{% url 'user_profile' request.user.username %}" class="item" >

          {% if not request.user.profile.avatar %}

              {% if request.user.profile.get_gender_display == "Male" %}
              <img src="{% static 'img/matthew.png'%}" class="ui small circular image centered" style="width: 35px;height: 35px">
              {% elif request.user.profile.get_gender_display == "Female" %}
              <img src="{% static 'img/molly.png'%}" class="ui small circular image centered" style="width: 35px;height: 35px">
              {%endif%}

          {% else %}
              <img src="{{ user.profile.avatar.url }}" class="ui small circular image centered" style="width: 35px;height: 35px">
               <br /> <br />
          {% endif %}
            &nbsp; {{ request.user.get_full_name }}

          </a>
          
          
        <div class=" ui dropdown item"><i class="settings icon"></i>
          Settings
          <div class="menu">
            <a class="item" href="{%url 'auth_password_change' %}"> 
              <i class="edit outline icon"></i>Change Password</a>
            <a class="item" href="{%url 'edit_profile' %}">
                <i class="edit icon"></i>Edit Profile</a>
            <a class="item" href="{%url 'auth_logout' %}">
                <i class="sign out alternate icon"></i>Log Out</a>
            <div class="divider"></div>
            <div class="header">{{ request.user.get_full_name }}</div>
          </div>
          </div>
          </div>
          {%endif%}
        
    </div>
    </div>
