{% extends "registration/registration_base.html" %}
{% load static %}
{% block stylesheet %}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="{% static 'registration/css/user_profile.css' %}">
{% endblock %}
{% block title%}Edit Profile{% endblock %}


{% block content %}

    <div class="container">
    <div class="row destacados">
        <div class="col-md-offset-3 col-md-4">
            <div class="box1">
               <form method="post" novalidate enctype="multipart/form-data">
                   {% csrf_token %}
                   {% with user_form as form %}
                       {% include 'form-template.html' %}
                   {% endwith %}
                   {% with profile_form as form %}
                       {% include 'form-template.html' %}
                   {% endwith %}
                   <button type="submit" class="button" >Save changes</button>
               </form>
            </div>
        </div>
    </div>

</div>

<div id="particles"></div>

{% endblock %}
{% block script %}
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="{% static 'registration/js/user_profile.js' %}"></script>
{% endblock %}

<div id="particles"></div>
