{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Log in" %}{% endblock %}

{% block content %}
        <div class="ui hidden warning message" id="loginRequiredMessage">
            <i class="close icon"></i>
            <div class="header">
                You must login before you can do that!
            </div>
            Visit our <a href="{% url 'registration_register' %}">registration page</a>, if you don't have an account.
        </div>
<div class="ui vertical center aligned grid">
    <form class="ui large form" method="post" action="" novalidate>
        <div>
        {% csrf_token %}
            {% include 'form-template.html' %}
        </div>
        <br>
            <div>
        <input class="ui fluid large button teal" type="submit" value="{% trans 'Log in' %}" />
        <input type="hidden" name="next" value="{{ next }}" />
            </div>
    <div>
            <br>  <a href="{% url 'auth_password_reset' %}"><p style="color: teal">{% trans "Forgot your password?" %}</a>.</p>a></p>
        <!-- <p>{% trans "Not a member?" %} <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>.</p> -->
        </div>
    </form>
</div> 

{% endblock %}

{% block script %}
    <script type="text/javascript">
        var url_string = window.location.href;
        var url = new URL(url_string);
        var next = url.searchParams.get("next");
        if (next) {
            $('#loginRequiredMessage').toggleClass('hidden');
        }
    </script>
{% endblock %}