{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block content %}
<div class="ui main text container">
    <div class="ui middle aligned center aligned grid">
    <form class="ui large form" method="post" action="">
            {% csrf_token %}
            {% include 'form-template.html' %}
            <input class="ui fluid large button teal" type="submit" value="{% trans 'Change password' %}" />
    </form>
    </div>
</div>
{% endblock %}


{# This is used by django.contrib.auth #}
