{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block content %}
<div class="ui main text container">
    <div class="ui middle aligned center aligned grid">
    <form class="ui large form" method="post" action="">
            <div class="ui stacked segment">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="ui fluid large button positive"type="submit" value="{% trans 'Change password' %}" />
            </div>
    </form>
    </div>
</div>
{% endblock %}


{# This is used by django.contrib.auth #}
