<!-- this is the markup. you can change the details (your own name, your own avatar etc.) but don’t change the basic structure! -->
{% extends "registration/registration_base.html" %}
{% load static %}
{% block title %}{{ user.username }}'s profile{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'registration/css/user_profile.css' %}">
{% endblock %}
{% block content %}
    <div class="ui container main">
    <div class="destacados ui two column centered grid">
            <div class="box1">
                <img src="{{ user.profile.get_avatar }}" class="ui small circular image centered" style="width: 150px;height: 150px">
                     <br/>

              <h3>{{ user.get_full_name }}</h3>
            <h4 style="color:teal">Username :&nbsp;{{ user.username }}</h4>
            <h4 style="color:teal">Location :&nbsp; {{ user.profile.location }}</h4>
            <h4 style="color:teal">Phone No. :&nbsp; {{ user.profile.phone_number }}</h4>
            <h4 style="color:teal">Gender :&nbsp; {{ user.profile.get_gender_display }}</h4>
            <h4 style="color:teal">About Me :<div>{{ user.profile.about_me }}</div></h4>
            <hr>
            {% if request.user is user %}
                <a class="ui button teal" href="{% url 'edit_profile' %}" ><span>Update Profile</span></a>
            {% else %}
                {% if user in friends %}
                <a class="ui button teal" href="{% url 'home:friendOperation' operation='unfriend' pk=user.pk %}"><span><i class="minus circle icon"></i>UnFollow</span></a>
                {% else %}
                    <a class="ui button teal" href="{% url 'home:friendOperation' operation='addfriend' pk=user.pk %}"><span><i class="plus circle icon"></i>Follow</span></a>
                {% endif %}
            {% endif %}
                <br><hr>
            </div>
        </div>
    </div>
{% endblock %}
